* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 100%;
  }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

/* header */

.header {
  padding: 20px 0;
  background: #2f2325;
  height: 120px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-img {
  filter: drop-shadow(0 0 1rem #998b8e);
  height: 75px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  font-family: Sarala, sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  color: #fff2e7;
  padding: 10px 20px;
}

.links-nav a:hover {
  opacity: 0.7;
}

/* menu-mobile */

.menu-burger {
  display: none;
  cursor: pointer;
}

.menu-burger:hover {
  opacity: .7;
}

.menu-burger div {
  width: 25px;
  height: 3px;
  background: #ecd6c4;
  margin: 5px;
}

/* main */

.main {
  border-top: 0.4px solid #998b8e;
  border-bottom: 0.4px solid #998b8e;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #55403b 85.61%);
}

/* Section one */

.section-one::after {
  content: '';
  display: block;
  margin: 50px;
  width: 300px;
  margin: 20px auto;
  border-bottom: 0.4px solid #998b8e;
}

.section-one-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 60px auto;
}

.section-one .item-1 {
  flex: 2;
  margin: auto;
}

.section-one .item-2 {
  flex: 1;
}

.img-item-2 {
  max-width: 350px;
  padding: 20px;
}

.section-one h1 {
  font-family: Righteous;
  font-size: 4em;
  font-weight: 400;
  line-height: 79px;
  color: #fff2e7;
}

.section-one p {
  font-family: Sarala, serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 39px;
  color: #ecd6c4;
  margin: 20px 0;
}

.btn-ballebot {
  font-family: Sarala, serif;
  font-size: 1.2em;
  text-align: center;
  background: #ecd6c4;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  padding: 8px 15px;
  cursor: pointer;
  color: #2f2325;
}

.btn-ballebot:hover {
  opacity: 0.8;
}

/* section two */

.section-two {
  text-align: center;
  color: #ecd6c4;
  margin-top: 80px;
}

.section-two h2 {
  font-family: Righteous;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin: 40px auto 60px auto;
}

.section-two-item {
  margin-bottom: 80px;
}

.section-two-item p {
  font-family: Sarala;
  font-size: 1.2em;
  text-align: center;
  margin: 40px auto;
}

/* footer */

.footer {
  background: #2f2325;
}

.footer-conteudo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-img {
  max-width: 150px;
}

/* Responsividade */

@media (max-width: 768px) {
  body {
    font-size: 80%;
    overflow-x: hidden;
  }

  .nav-logo-img {
    height: 75px;
  }

  .nav-links {
    position: absolute;
    flex-direction: column;
    right: 0px;
    top: 122px;
    height: 96vh;
    width: 50%;
    background: #2f232560;
    backdrop-filter: blur(10px);
    gap: 40px;
    padding-top: 100px;
    text-align: center;
    transform: translateX(100%);
  }

  .nav-links.nav-active {
    transform: translateX(0);
  }

  
  .menu-burger {
    display: block;
  }

  .section-one-item {
    flex-direction: column;
  }

  .container {
    max-width: 90%;
  }

  .section-one-item .item-1 {
    text-align: center;
  }
}
